@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
body {
    
    background-color: #000016; 
}

/* Header*/
.header {
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #02021c;
    width: 100%;
}

.profile-image {
    width: 100%; 
    max-width: 800px;
    max-height: 800px;
    height: auto;
    display: block;
    border-radius: 0%; 
    overflow: hidden; 
    margin: auto; 
  }
  
.header-content {
    display: flex;
    align-items: center;
}

.logo {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: 1.8em;
    order: 1;      
}
.logo :hover
{
   
}

.navigation {
    order: 3;      
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 20px;
}

.navigation a:hover {
    color: #2D3250;
}

/* Main*/


.main {
    padding: 100px 20px;
}
 
.center-content {
    text-align: center;
}

.center-content h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10% ;
    margin-bottom: 30px;
}
.main-btn {
    margin-top: 30px; 
}


.center-content p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 600;
}
.main p
{
    color: #fff;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px; 
    color: #fff; 
    font-size: 3em;
    font-weight: 600;
}

.profile-image {
    border-radius: 50%; 
    width: 700px;
    height: 700px; 
    object-fit: cover; 
}



.main-btn {
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #1d4ac7;
    transform: scale(1.1); 
}


.Social-icons {
    display: flex;
    justify-content: center; /* تحريك الرموز إلى اليمين */
}



.Social-icons a {
    color: #3a6cf4;
    font-size: 2em;
    margin-right: 20px;
    margin-left: 10px;
    text-decoration: none;
  
}

.Social-icons a:hover {
    color: #2D3250;
}

/* Services */
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto 0px 10rem auto; 
}


.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 20px;
    padding: 25px;
    margin: 20px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.2);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.4em;
    font-weight: 400;
    margin: 15px;
}

/* Skiles */

.Skiles .card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    transition: 0.7s ease;
}

.Skiles .card:hover {
    transform: scale(1.1);
}

.Skiles .card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.Skiles .info {
    text-align: center;
}

.Skiles .info h3{
    color: #3a6cf4;
    font-size: 1.4em;
    font-weight: 400;
    margin: 15px;
}



/* Projects */

.projectwrapper {
    border-radius: 50%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.projectcontainer {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    
}

.more-details {
    display: block; 
    color: #fff; 
    text-align: right;
    font-size: small;
    font-weight: bold; 
    margin-top: 6px;
    margin-bottom: -30px; 
    margin-right: 30px;
  }

.Projects .title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 700;
    margin-bottom: -100px; 
}


.projectCard {
    width: 80px;
    border-radius: .75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden; 
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0,0,0,0.8);
    background-color: #000;
}


.projectCard > .row {
    color: #000;
    display: flex;
    flex-wrap: nowrap;
    background: #000000;

}

.projectCard > .row > .icon {
    background: #223;
    color: white;
    border-radius: 40%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    
}

.projectCard > .row > .description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 80px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .2s ease;
    text-align: right; /
}

.projectdescription p {
    color: #b0b0ba;
    padding-top: 5px;
    
}

.description h4 {
  color: #fff;
  text-align: left;
  
}


input {
    display: none;
}

input:checked + label {
    width: 600px;
    height: 400px;
}

input:checked + label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.projectCard[for="c1"] {
    background-image: url('images/airline1.jpg');
    border: 50%;
    
}
.projectCard[for="c2"] {
    background-image: url('images/calc1.jpg');
}

/* Contact */


.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}
.contact .title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 100px; 
    padding: 10 0px;
    margin: 100px;
}

a {
    text-decoration: none; 
  }
  

.contact .info p {
    font-size: 0.9em;
}

/* Footer*/

.footer {
    background-color: #02021c;
    color: #fff;
    padding: 0.7em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.4em;
    font-weight: 700;
}

.footer-title span {
    color: #3a6cf4;
}

.footer-title span:hover {
    color: #ffff;
}


.social-iconss {
    display: flex;
    justify-content: center;
}


.social-iconss a {
    color: #3a6cf4;
    font-size: 2em;
    margin-right: 20px;
    text-decoration: none;
}

.social-iconss a:hover {
    color: #2D3250;
}


/*                */
@media (max-width:500px){

    body{
        font-size: 8px;
    }

    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: -20px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .profile-image {
        border-radius: 50%; 
        width: 300px;
        height: 300px; 
        object-fit: cover; 
    }
    
    input:checked + label {
        width: 300px;
        height: 400px;
       
    }

    .Projects .title {
        display: flex;
        justify-content: center;
        color: #3a6cf4;
        font-size: 2.2em;
        font-weight: 700;
        margin-bottom: -200px; /
    }
    
    .contact .title {
        display: flex;
        justify-content: center;
        color: #3a6cf4;
        font-size: 2.2em;
        font-weight: 700;
        margin-bottom: 40px; 
    }

    
    .Services.card {
        width: 100%; 
        margin: 10px auto; 
        padding: 10px; 
        display: flex; 
        align-items: center; 
    }
    
    .card .icon {
        font-size: 1em; 
        display: inline-block; 
        vertical-align: middle; 
    }
    
    .info h3 {
        font-size: 1em; 
        margin-top: -30px; 
    }
    
    .info p {
        font-size: 0.5em;
        margin-top: -10px; 
    }
    
    

}

/*      mobile      */
@media (max-width:400px){
    body{
        font-size: 6px;
    }

    header{
        padding: 5px 10px;
    }

    .navigation a{
        padding-left: 1px;
    }

    .title{
        font-size: 1.5em;
    }

    section{
        padding: 70px 10px;
    }

    .main-content h2{
        font-size: 2em;
    }

    .main-content h3{
        font-size: 1.9em;
    }

    .contents {
        display: flex;
        justify-content: center;     
        flex-wrap: wrap;    
        margin: auto; 
        align-items: center; 
    }
    
    .card {
        background-color: #fff;
        width: 21em;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 20px;
        padding: 25px;
        margin: 20px;
        transition: 0.7s ease;
    }
    
    .card:hover {
        transform: scale(1.2);
    }
    
    .card .icon {
        color: #3a6cf4;
        font-size: 4em;
        text-align: center;
    }
    
    .info {
        text-align: center;
    }
    
    .info h3{
        color: #3a6cf4;
        font-size: 1.4em;
        font-weight: 400;
        margin: 15px;
    }
              
    }

    /*   iPad     */
    @media (max-width:900px){
    
        body{
            font-size: 8px;
        }
    
        header{
            padding: 12px 20px;
        }
    
        .navigation a{
            padding-left: -20px;
        }
    
        .title{
            font-size: 1.8em;
        }
    
        section{
            padding: 80px 20px;
        }
    
        .main-content h2{
            font-size: 1em;
        }
    
        .main-content h3{
            font-size: 1.6em;
        }
    
        .profile-image {
            border-radius: 50%; 
            width: 300px;
            height: 300px; 
            object-fit: cover; 
        }
        
        input:checked + label {
            width: 300px;
            height: 400px;
           
        }
    
        .Projects .title {
            display: flex;
            justify-content: center;
            color: #3a6cf4;
            font-size: 2.2em;
            font-weight: 700;
            margin-bottom: -200px; /
        }
        
        .contact .title {
            display: flex;
            justify-content: center;
            color: #3a6cf4;
            font-size: 2.2em;
            font-weight: 700;
            margin-bottom: 40px; 
        }
    
        
        .Services.card {
            width: 100%; 
            margin: 25px auto; 
            padding: 25px; 
            display: flex; 
            align-items: center; 
        }
        
        .card .icon {
            font-size: 4em; 
            display: inline-block; 
            vertical-align: middle; 
        }
        
        .info h3 {
            font-size: 1em; 
            margin-top: -30px; 
        }
        
        .info p {
            font-size: 0.5em;
            margin-top: 5px; 
        }
        
        

    }
